
.edit-form-container{
  padding: 25px;
  background-color: #232b3f;

}

.add-task-form{
  /* display: flex */

}
 .edit-form-container textarea{
  background-color: #232b3f;
  color: rgb(182, 191, 212);
  border: 2px solid #3f4452;
 }
.edit-form-container input{
 background-color: #232b3f;
 color: rgb(182, 191, 212);
 border: 2px solid #3f4452;
}

.edit-form-container div{
  margin: 20px 0px 5px 0px
}

.edit-form-container button{
  margin: 0px 10px 0px 10px;
  height: 32px;
  width: 100px;
  
}
