
/* .color-circle-container{
display:flex;

} */



.button-circle{
  cursor: pointer;
  background-color: rgb(114, 161, 250);
  font-size: 70px;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;

}

.button-circle:hover{
  background-color: rgb(103, 146, 226);
}



option{
  width: 250px;
  height: 45px;
  color:white;
  text-shadow: 2px 2px 2px black;
}
/* option:hover{
  background-color: rgb(153, 196, 233)
} */
select{
  height: 45px;
  font-size: 20px;
  width: 280px;
  margin-top: 5px;
  border: 1px solid rgb(67, 110, 138);
  border-radius: 5px;

}
