.greet-card div{
  color:rgb(54, 54, 66);
  font-family: 'Cantarell', sans-serif;
  width: 600px;
  margin: 30px 30px 60px 30px;
  background-color: aliceblue;

  padding: 20px;
  box-shadow: 0px 0px 30px 3px rgb(0, 0, 0);
}
.greet-card{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
.greet-card h1{
  box-shadow: 0px 0px 20px 3px rgb(2, 2, 2);
  padding: 10px
}
.greet-card button{
  background-color: rgb(71, 74, 85);
  height: 40px;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;

  border: none;

  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px rgb(2, 2, 2);
}
