.greeting{
  display: flex;
  justify-content: center;
  font-family: 'Cantarell', sans-serif;
  width: 80%;
  margin: 30px 30px 60px 30px;
  background-color: rgb(222, 240, 248);

  padding: 20px;
  box-shadow: 0px 0px 5px 1px rgb(186, 202, 209);
  border-radius: 5px;

}

.greet-image{
  background-image: url('./mrs-sun.png');
  background-position:cover;
  background-size: cover;
  height:200px;
  width: 200px;

}
.greet-card{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:rgb(0, 0, 0);
  width: 80%
}
.greet-card h1{
  /* box-shadow: 0px 0px 20px 3px rgb(2, 2, 2); */
  padding: 10px;

}

.greet-card h2{
  color: black !important;
  font-weight: 100
}
.greet-card button{
  background-color: rgb(71, 74, 85);
  height: 40px;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;

  border: none;

  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px rgb(2, 2, 2);
}
