
.edit-form-container{
  padding: 25px;
  background-color: #ffffff;
  width: 500px;
  box-shadow: 0px 0px 15px 2px rgb(153, 153, 153);
  border-radius: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end */

}
.edit-form-container h2{
  margin: 0px 0px 30px 6px
}

.edit-form-container span{
  display: flex;
  justify-content: flex-end;
  cursor: pointer
}

.update-header{
  display: flex;
  margin-top: 0px !important;
}
.edit-form-container p{
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 22px 0px 0px 10px
}
.add-task-form{
  /* display: flex */

}
.far.fa-window-close{
  font-size: 20px
}
.far.fa-window-close:hover{
  color: #8191b9;

}

.edit-form-container input{
 background-color: #f5f5f5;
 color: rgb(0, 0, 0);
 border: none;
 width:97%;
 height: 45px;
 border-radius: 5px;
 margin-left: 3px;
 font-size: 18px



}

.edit-form-container div{
  /* margin: 20px 0px 5px 0px */
  margin: 5px;

}

.form-button{
  display: flex;
  justify-content: flex-end
}

.edit-form-container button{
  margin: 20px 5px 0px 0px;
  height: 40px;
  width: 80px;
  cursor: pointer;
  background-color: #647dee;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 16px;

  /* box-shadow: 0px 1px 1px 1px rgb(106, 106, 106) */
}


.edit-form-container button:hover{
  background-color:#dde2ec;
}
.update-delete-save{
  display:flex;
}


.update-dots{
  cursor: pointer;
  color: rgb(3, 3, 3) !important;
  padding: 5px;
  border-radius: 50px;
  display:flex;
  align-items: center;
  font-size: 40px;
  height:25px;
  width:25px;
  margin:0px;
  padding:5px 6px 5px 4px;
  box-shadow: 0px 1px 2px 0.5px rgb(114, 114, 114);
}
.update-dots span{
  margin:0px 0px 25px 0px;
  padding:0px
}
.section div,
.section input{
  margin: 5px 5px 5px -1px;

}
.section input{
  font-size: 18px !important;
}
.section div {
  font-size: 13px
}
.section{
  display: flex;
  width: 97%
}
.section input {
  width: 97%;
}
.section.pts.color select{
  width:100% !important;
}
/* .css-2b097c-container{
  width: 250px;

} */

.label {
  font-size: 13px;
}

.form-label input{
  font-size: 18px !important;
}
