/* TODO Add site wide styles */
body {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Roboto', sans-serif !important;
  background-color: #ffffff;

  margin: 0px;
  color: black;


}
#root{
  display: flex;
  flex-direction: row
}
