.navbar{
  width: 21%;
  /* width: 400px !important; */
  /* border-right: 1px solid black; */
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
}
.nav-links.profile{
  height: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 200px;
  border-bottom: 1px solid rgb(51, 70, 104)
}
.nav-links.btn{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;

}
.home-logo{
  padding: 15px 20px;
  cursor: pointer;
}
.home-logo:hover{
  background-color: rgb(236, 109, 109);
}
