.navbar{
  width: 21%;
  /* width: 400px !important; */
  /* border-right: 1px solid black; */
  height: 100vh;
  background-color: rgb(59, 59, 59);
  color: white;
  /* position: relative; */
  /* z-index: -1 */
  /* position:relative; */
}
.nav-links.profile{
  height: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(68, 68, 68)
}
.nav-links.btn{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;

}
.home-logo{
  padding: 15px 20px;
  cursor: pointer;
}
.home-logo:hover{
  background-color: rgb(236, 109, 109);
}
