.task-info-box{
  display:flex;

}
.habit-list-container{

  border-right: 1px solid rgb(224, 224, 224);
  height: 100%
}
.task-log{
  width: 100%;
  display:flex;
  flex-wrap: wrap;

}

.task-log::-webkit-scrollbar {
  display: none;

}

.task-log div{
  flex: 0 0 auto;
}

.task-card-container{
/* box-shadow: 0px 0px 15px 1px rgb(190, 190, 190); */

margin: 20px 20px;
/* border-radius: 15px; */
width: 45%;
padding: 15px;
background-color: rgb(245, 245, 245)

}
.task-card{
  display: flex;
  flex-direction: column;
  /* padding: 0px 20px 20px 20px; */
  /* width: 100%; */
  background-color: rgb(245, 245, 245);
  color: black;
  border: 2px;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;


}
.task-card::-webkit-scrollbar {
  width: 5px
}


.task-card div{
  margin: 3px;

}



.habit-header{
  display: flex;
}
.habit-header h3,
.habit-header div{
  margin:5px;
  padding:0px;
}


.task-name{
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  font-size: 25px;
  margin: 20px 30px 0px 5px;
  padding: 10px;
  /* text-shadow:  0px 1px 1px rgb(87, 86, 86); */
}
.task-name-header{
  display:flex
}


.task-name div{
  margin: 5px 10px
}


.task-detail,
.task-reason,
.task-num,
.task-points,
.task-created {
  width: 100%;
  color: rgb(49, 49, 49)
}




.task-points{
  margin-top: 10px
}
.task-created{
  width: 100%
}

.task-num{
  margin-top: 15px !important
}

.task-card-container span{
  color:rgb(0, 0, 0);
  font-weight: bolder
}

.fas.fa-heart,
.fas.fa-bullseye,
.fas.fa-calendar-day{
font-size: 20px;
margin-right: 5px;
text-shadow:  0px 1px 1px rgb(87, 86, 86);
}

.task-streak-container{
  margin:20px ;
  width:40%;
}
.task-streak-container div{
  background-color: rgb(245, 245, 245);
  height: 38%;
  padding:10px;
  color: rgb(97, 83, 83);
  margin-bottom: 10px;
  font-size: 15px;
}



