.splash-page{
  width: 100vw;
  /* background-image: url('./anime-garden.jpg');
  background-size: cover;
  background-position: center; */
  height: 100vh;

}
.signed-out-navbar{
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;

  border-bottom: none !important;
}
.entry{
  display: flex;

}
.NavLink{
  text-decoration: none;
  margin: 0px 5px;
  color: rgb(255, 255, 255);
  background-color: #647dee;
  width: 89px;
  border-radius: 40px;
  /* box-shadow: 0px 1px 1px 1px rgb(91, 117, 85); */
  transition:  all 0.3s ease 0s;
  font-size: 18px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px

}
.NavLink:hover{
  background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}

.form-container{
  display:flex;
  justify-content:center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 40px
}

.signup-photo{
  background-image: url('./20943653.jpg');
  background-size: cover;
  background-position: center;
  height: 60%;
  width: 40%;
}

.signup-form{
  padding: 40px 19px;
  border-radius:10px;
  box-shadow: 0px 0px 8px 1px rgb(161, 161, 161);
  display:flex;
  flex-direction: column;

  background-color: #d5e9f0 ;
  opacity: 0.9;
  width: 35%;
  margin-top: -40px;
  margin-left: 30px
}

.signup-form div{
  display: flex;

}

#date-div{

}
.error-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.error-container div{
  width: 50%
}
.logo-container{
  width:100%;
  display: flex;
  /* align-items: center */
  justify-content: center
}
.short-logo{
  background-image: url('./HabitHub-logos_transparent_short.png');
  background-size: cover;
  width: 4em;
  height: 4em;
  margin-bottom: 60px
}

.signup-form input{
  height: 3.5em;
  width: 15em;
  /* color: lightblue; */
  font-size: 16px;
  padding-left: 10px;
  background-color: white ;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0px 5px
}

.signup-form input:focus{
  background-color: rgb(245, 245, 245)
}

.invisible-input{
  visibility: hidden;
}
.signup-form div{
  margin-bottom: .5em
}
.signup-form button{
  text-decoration: none;
  margin: 15px 5px;
  color: #2a5a7c;
  background-color: #d5e9f0;
  border: 1px solid #2a5a7c !important;
  width: 89px;
  border-radius: 40px;
  /* box-shadow: 0px 1px 1px 1px gray; */
  transition:  all 0.3s ease 0s;
  font-size: 18px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.signup-form div{
  display: flex
}
.signup-form button:hover{
  background-color: #537895;
  color:white;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

.nav-links{
  text-decoration: none;
  color:  rgb(75, 87, 250);
  }

  .bottom-form{
    display: flex;
    align-items: center;
    flex-direction: column
  }
