.splash-page{
  width: 100vw;

  background-image: url('./habit-keeps-you-going-\ wallpaper-fixed.jpg');
  width:100%;
  height: 100vh;
  background-size: cover;


}
.signed-out-navbar{
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  border-bottom: none !important;
  position:fixed;
  width: 100%;
  background-color: #d5e9f0;
  /* z-index: 7; */
  opacity: 0.9
}
.entry{
  display: flex;

}
.NavLink{
  text-decoration: none;
  margin: 0px 5px;
  color: #2a5a7c;
  background-color: rgb(202, 222, 228);
  border: 1px solid #2a5a7c;
  width: 89px;
  border-radius: 40px;
  /* box-shadow: 0px 1px 1px 1px rgb(91, 117, 85); */
  transition:  all 0.3s ease 0s;
  font-size: 18px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px

}
.NavLink:hover{
  /* background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); */
  background-color: #537895;
  color:white;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
border: 1px solid white;
}
/* .splash-photo-container{
  display: flex;
  flex-direction: column;
  background-image: url('./mountain\ with\ red\ flag.png');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  margin-top: 100px;

} */

.splash-photo-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
}


.splash-photo-container div{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.splash-photo{
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  padding: 50px 50px !important;
}

.msg-1{
margin-top:-250px;
color: black;
font-size: 30px;
width: 50%;
text-align: center;
font-weight: 300;
font-family: 'Raleway', sans-serif !important;
color:rgb(51, 78, 109);
visibility: hidden;
}

.msg-1 p{
  margin: 0px;
  padding: 0px;
  height: 70px
}

.habithub-msg{
  font-size: 120px;
  font-weight: 1000;
  height: 120px !important;

}
.habithub-sub{
  font-size: 60px;
}

.msg-2{
  margin-top: 170px;
  font-size: 22px;
  font-family: 'Raleway';
  width:40%;
  text-align: center;
  letter-spacing: 1px;
  margin-right: 20px;
  color: white;
  visibility:hidden;
}


/* .splash-photo-container p{

  font-size: 22px;

  margin-top: -20px;
  text-align:  center;
  letter-spacing: 1.5px;
  color: gray;

} */

.splash-photo-container button{
  text-decoration: none;
  margin: 25px 5px -20px 5px;
  color: rgb(255, 255, 255);
  background-color: #2a5a7c;
  border: 1px solid white;
  width: 150px;
  border-radius: 40px;
  /* box-shadow: 0px 1px 1px 1px rgb(11, 25, 63); */
  transition:  all 0.3s ease 0s;
  font-size: 18px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: sticky;

}

.splash-photo-container button:hover{
    /* transform: translateY(-1px); */
    /* background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); */
    /* background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%); */
    background-color: white;
    color:#2a5a7c;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);

}
.splash-button{
  border-radius: 5px;
  width: 150px;
  height: 35px;
  margin-left: 10px;
  margin-bottom: 5px;
  transition:  all 0.3s ease 0s;
  /* font-size: 20px; */
  background-image: url('./habithub-plain-PhotoRoom.png');
  /* height: 100%;
  width:100%; */
  background-size: cover;
  cursor: pointer;

}
.splash-button:hover{
  transform: translateY(-4px);
  box-shadow: 0px 1px 1px 1px gray;
}
.splash-button div{

  /* background-position: cover; */
  /* margin-bottom: 10px;
  margin-top: -5px;
  margin-left: 5px;
  margin-right: 5px; */
}

.how-div{
  /* margin-top: 400px; */
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  /* background-color: #d5e9f0; */
  background-color: #e4f1f5;
}

.how-div h1{
  padding-bottom: none;
}
.how-div p{
  font-size: 20px;
  color:gray;
  text-align: center;
  width: 500px;
  margin: 0px;
}

.steps-container{
  display:flex !important;
  flex-direction: row !important;
  /* display:grid !important;
 grid-template-columns: 1fr 1fr 1fr !important; */
  justify-content: space-around
}

.steps {
  width: 20%;
  height: 300px;
  padding:1em;
  display:flex;
  flex-direction: column;
  align-items: flex-start !important;
  margin-top: 40px;
}

/* .step-img1{
  background-image: url('./step1.png');
  width: 70%;
  height: 70%;
} */

.far.fa-list-alt{
  width: 70%;
  height: 70%;
  font-size: 150px;
  color: white;
  text-shadow: 0px 1px 1px #2a5a7c;
}
.step-header{
margin-top: 0px;
margin-bottom: 20px;
padding-left: 1em;
font-weight: 600;
font-size: 22px;
}
.step-detail{
  padding-left: 1em;
  font-size: 18px;
  color:gray
}
/* .step-img2{
  background-image: url('./step2.png');
  width: 70%;
  height: 70%;
} */

.far.fa-bell{
  width: 70%;
  height: 70%;
  font-size: 150px;
  color: white;
  text-shadow: 0px 1px 1px #2a5a7c;
}

/* .step-img3{
  background-image: url('./step3.png');
  width: 70%;
  height: 70%;
} */

.far.fa-chart-bar{
  width: 70%;
  height: 70%;
  font-size: 150px;
  color: white;
  text-shadow: 0px 1px 1px #2a5a7c;
}
