.splash-page{
  width: 100vw;
  /* background-image: url('./anime-garden.jpg');
  background-size: cover;
  background-position: center; */
  height: 100vh;

}
.signed-out-navbar{
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  /* box-shadow: 0px 1px 5px 1px gray !important; */
  border-bottom: none !important;
}
.entry{
  display: flex;

}
.NavLink{
  text-decoration: none;
  margin: 0px 5px;
  color: rgb(255, 255, 255);
  background-color: #647dee;
  width: 89px;
  border-radius: 40px;
  /* box-shadow: 0px 1px 1px 1px rgb(91, 117, 85); */
  transition:  all 0.3s ease 0s;
  font-size: 18px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px

}
.NavLink:hover{
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
.splash-photo-container{
  display: flex;
  flex-direction: column;
  background-image: url('./mountain\ with\ red\ flag.png');
  width: 100vw;
  height: 80.9vh;
  /* justify-content: center; */
  background-size: cover;

  /* align-items: center; */

  margin-top: 100px;

}
.splash-photo-container div{
  display: flex;
  flex-direction: column;
  /* padding-top: 4em; */

  align-items: center;


  background-size: cover;
  background-position: center;

}

.splash-photo{
  /* background-image: url('./toppng.com-PhotoRoom.png');
  height: 50%;
  width: 50%;
  background-size: cover; */
}
.splash-photo-container h1{
  margin-top: 0px;
  font-size: 40px;
  font-weight:1000;
  width: 600px;
  text-align: center;
  text-shadow: 0px 2px 2px rgb(179, 180, 179);
}
.splash-photo-container h3{
  /* margin-top: -450px; */
  font-size: 25px;
  font-weight: 600;
  width: 700px;
  margin-top: -20px;
  text-align:  center;
  text-shadow: 0px 2px 2px rgb(179, 180, 179);
}

.splash-photo-container button{
  text-decoration: none;
  margin: 0px 5px;
  color: rgb(255, 255, 255);
  background-color: #647dee;
  width: 150px;
  border-radius: 40px;
  /* box-shadow: 0px 1px 1px 1px rgb(11, 25, 63); */
  transition:  all 0.3s ease 0s;
  font-size: 18px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.splash-photo-container button:hover{
    /* transform: translateY(-1px); */
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
.splash-button{
  border-radius: 5px;
  width: 150px;
  height: 35px;
  margin-left: 10px;
  margin-bottom: 5px;
  transition:  all 0.3s ease 0s;
  /* font-size: 20px; */
  background-image: url('./habithub-plain-PhotoRoom.png');
  /* height: 100%;
  width:100%; */
  background-size: cover;
  cursor: pointer;

}
.splash-button:hover{
  transform: translateY(-4px);
  box-shadow: 0px 1px 1px 1px gray;
}
.splash-button div{

  /* background-position: cover; */
  /* margin-bottom: 10px;
  margin-top: -5px;
  margin-left: 5px;
  margin-right: 5px; */
}

