.task-log-board{
  width: 800px
}
.task-log{
  width: 100%;
  display: flex;
}
.task-card{
  display: flex;
  flex-direction: column;
  width:100%;
  margin: 10px 25px;
}
.task-label-bar{
  display:flex;
  width:100%
}

.task-label-bar div{
  margin: 5px 10px;
  /* width:100%; */
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* .task-bar div{
  margin: 5px 10px;
  /* width:100%; */
  /* display:flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.task-info{

}
.task-name{
  width: 15%;
  font-weight: bold;
}

.task-detail{
  width: 15%
}
.task-reason{
  width: 25%
}

.task-num{
  width: 10%
}
.task-points{
  width: 10%
}
.task-created{
  width: 15%
}

.edit-button,
.empty-div{
  width: 10%
}
