.task-log-board{
  /* width: 800px */
  display:flex;
  flex-direction: row;
  align-items: center;
}
.habit-list-container{
  width: 50%;
  border-right: 1px solid black;
  height: 100%
}
.task-log{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  /* flex-wrap: nowrap; */
  /* overflow-x:auto; */
}

.task-log::-webkit-scrollbar {
  display: none;
   /* Safari and Chrome */
}

.task-log div{
  flex: 0 0 auto;
}

.task-card-container{
box-shadow: 0px 0px 15px 1px rgb(190, 190, 190);
margin: 10px 20px;
border-radius: 15px;



}
.task-card{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  background-color:#ffffff;
  color: black;
  border: 2px;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  height: 200px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px

}
.task-card::-webkit-scrollbar {
  width: 5px
}


.task-card div{
  margin: 3px
}


.task-info{

}

.habit-header{
  display: flex;
}
.habit-header h3,
.habit-header div{
  margin:5px;
  padding:0px;
}


.task-name{
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  font-size: 25px;
  /* border-bottom: 1px solid rgb(51, 57, 68); */
  padding: 10px;
  text-shadow: 1px 1px 1px rgb(87, 86, 86);
}
.task-name-header{
  display:flex
}


.task-name div{
  margin: 5px 10px
}
#color-circle{
  width:40px;
  height: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 1px 1px rgb(100, 102, 128);
  opacity: 0.8
}

.task-detail,
.task-reason,
.task-num,
.task-points,
.task-created {
  width: 100%;
  color: rgb(49, 49, 49)
}
/* .task-detail{
  width: 100%
}
.task-reason{
  width:  100%
}



.task-points{
  margin-top: 10px
}*/
.task-created{
  width: 100%
}

.task-num{
  margin-top: 15px !important
}
/* .edit-button{
  display: flex;
justify-self: flex-end
} */

.task-log span{
  color:rgb(0, 0, 0);
  font-weight: 600
}

.fas.fa-heart{
  color: red
}
