.splash-page{
  width: 100vw;
  /* background-image: url('./anime-garden.jpg');
  background-size: cover;
  background-position: center; */
  height: 100vh;
}
.signed-out-navbar{
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  /* box-shadow: 0px 1px 5px 1px gray !important; */

}
.entry{
  display: flex;

}
.NavLink{
  text-decoration: none;
  margin: 0px 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(75, 87, 250);
  width: 89px;
  border-radius: 40px;
  box-shadow: 0px 1px 1px 1px rgb(91, 117, 85);
  transition:  all 0.3s ease 0s;
  font-size: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px

}
.NavLink:hover{
  transform: translateY(-5px);
  background-color: rgb(171, 231, 137);
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./greenhouse-signup.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin-top: 5px
}
.login-form{

  padding: 40px 20px;
  border-radius:10px;
  box-shadow: 0px 2px 2px 1px rgb(14, 13, 13);
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: white;
  opacity: 0.9;
  margin-top: -40px
}
.short-logo{
  background-image: url('./sprout-logo.png');
  background-size: cover;
  width: 70px;
  height: 40px;
  margin-bottom: 60px
}
.login-form input{
  height: 3.5em;
  width: 20em;
  /* color: lightblue; */
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid lightgray;
  border-radius: 5px

}
.login-form div{
  margin-bottom: .5em
}
.login-form button{
  text-decoration: none;
  margin: 0px 5px;
  color: black;
  background-color: rgb(153, 204, 123);
  width: 89px;
  border-radius: 40px;
  box-shadow: 0px 1px 1px 1px rgb(97, 92, 92);
  transition:  all 0.3s ease 0s;
  font-size: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none
}

.login-form button:hover{
  transform: translateY(-5px);
  background-color: rgb(171, 231, 137);
}

.nav-links{
text-decoration: none;
color: rgb(116, 153, 95);
}
