.far.fa-trash{
  font-size: 23px;
}
.far.fa-trash:hover{
  color: #8191b9;
}
.delete-task-form{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px
}
.delete-task-form p{
  font-size: 18px;
}
.delete-task-form span{
  font-weight: 500;
  font-size: 20px;
  color: rgb(2, 2, 2);
  /* text-decoration: underline */
}
.delete-task-form button{
  margin: 20px 5px 0px 0px;
  height: 40px;
  width: 80px;
  cursor: pointer;
  background-color: #647dee;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 16px;
}
 .delete-task-form button:hover{
  background-color:#dde2ec;
 }

 .yes-button{
  background-color: rgb(219, 95, 91) !important;
 }

 .no-button{
  background-color: rgb(219, 218, 218) !important;
 }

 .delete-button{
   padding: 11px 15px ;

 }
