
.button-circle{
  cursor: pointer;
  background-color: rgb(114, 161, 250);
  font-size: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  margin:0px;
  padding-bottom: 2px;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 1px 1px 1px gray
}
.button-circle:hover{
  background-color: rgb(103, 146, 226);
  transform: translateY(-3px)
}

option{
  width: 250px;
  height: 45px;
  color:white;
  text-shadow: 2px 2px 2px black;
}
/* option:hover{
  background-color: rgb(153, 196, 233)
} */
select{
  height: 45px;
  font-size: 18px;
  width: 280px;
  margin-top: 5px;
  border: 1px solid rgb(67, 110, 138);
  border-radius: 5px;

}
.update-reward-dots{
  cursor: pointer;
  color: rgb(3, 3, 3) !important;
  padding: 5px;
  border-radius: 50px;
  display:flex;
  align-items: center;
  font-size: 20px;
  height:10px;
  width:10px;
  margin:0px;
  padding:4px 5px 4px 3px;
  box-shadow: 0px 1px 2px 0.5px rgb(114, 114, 114);
}
.update-reward-dots span{
  margin:0px;
  padding-bottom: 11px;

}
