/* .rewards-log-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px 0px 0px 20px;

} */

.rewards-left-container{
  display:flex;
  flex-direction: column;
  width: 38%;
  margin-right: 20px;
  border-right: 1px solid rgb(226, 226, 226);
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 20px;



}
.rewards-left-container::-webkit-scrollbar {
  display: none;

}
.reward-header-container {
  display: flex;
  justify-content: space-between
}
.rewards-header{
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  height:70px

}

.rewards-header h2{
  margin-left: 10px
}


.rewards-right-container{
  display:flex;
  flex-direction: column;
  width: 38%;

  overflow-y: scroll;
  overflow-x: hidden;

}

.rewards-right-container::-webkit-scrollbar {
  display: none;

}

.rewards-card-container{
  display: flex;
  flex-direction: column;
  justify-content: center
}
.reward-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 100px;
  /* border: 1px solid black; */
  margin:20px 10px 20px 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px rgb(206, 204, 204);
}

.fas.fa-medal{
  font-size: 50px;
  margin-right: 20px;
  text-shadow:  0px 1px 1px rgb(87, 86, 86);
}

.reward-card div{
  display: flex
}

.reward-icon-container{
  display: flex;
  flex-direction: column;
  margin-right: 5px
}

.reward-icon-container span{
  color: gray;
  margin-left: 5px;
  font-size: 13px;
  margin:5px 0px
}
.reward-info{
  display:flex;
  flex-direction:column;
  margin-top: -5px;
  width: 100%

}

.fas.fa-th-list,
.fas.fa-clock,
.fas.fa-sticky-note{
  margin: 4px 5px 0px 0px;
  text-shadow:  0px 1px 1px rgb(87, 86, 86);
}
.reward-info div span{
  margin: 1px 5px 0px 0px
}
.reward-header{
  font-size: 20px;
  font-weight: bold;

}
/* .reward-header span{
  margin-top: -2px;
  padding: 0px
} */

.reward-labels{
  font-weight: bold;
}
.rewards-progress{
  /* border: 1px solid black; */
  margin: 10px 0px 0px 0px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-radius: 5px
}

