.rewards-log-container{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0px 20px 0px 20px;

}

.rewards-left-container{
  display:flex;
  flex-direction: column;
  width: 90%;
  margin-right: 20px;
  border-right: 1px solid rgb(226, 226, 226);
  overflow-y: scroll
}

.rewards-headers{
  display: flex;
}

.rewards-right-container{
  display:flex;
  flex-direction: column;
  width: 90%

}

.rewards-card-container{
  display: flex;
  flex-direction: column
}
.reward-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 130px;
  /* border: 1px solid black; */
  margin:20px 20px 20px 0px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgb(206, 204, 204);
}

.fas.fa-medal{
  font-size: 50px;
  margin-right: 20px;
}

.reward-card div{
  display: flex
}

.reward-icon-container{
  display: flex;
  flex-direction: column;
  margin-right: 5px
}

.reward-icon-container span{
  color: gray;
  margin-left: 5px;
  font-size: 13px;
  margin:5px 0px
}
.reward-info{
  display:flex;
  flex-direction:column;
  margin-top: -5px

}
.reward-header{
  font-size: 22px;
  font-weight: bold;

}
/* .reward-header span{
  margin-top: -2px;
  padding: 0px
} */
.rewards-progress{
  /* border: 1px solid black; */
  margin: 20px 0px 0px 0px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-radius: 5px
}

